<div class="detail-desc">
    <div>
        <div>
            <span>{{localize 'FU-PT.vehicle.frame'}}:</span>
            <span>{{localize (lookup additionalData.frames vehicle.frame)}}</span>
        </div>
        <div>
            <span>{{localize 'FU-PT.vehicle.passengers'}}:</span>
            <span>{{vehicle.passengers}}</span>
        </div>
    </div>
</div>