<div>
    <fieldset class="title-fieldset desc resource-content">
        <legend class="resource-label-full">
            <label class="resource-label-m">{{localize 'FU-PT.description'}}</label>
        </legend>
        <div>
            {{editor enrichedHtml.description target='system.data.description' engine='prosemirror' button=true}}
        </div>
    </fieldset>
</div>
