<div class="invocation-message">
    <header>
        <i class="invocation-icon {{icon}}"></i>
        <p class="invocation-name">{{name}}</p>
    </header>
    <div class='chat-desc'>
        {{{description}}}
    </div>
</div>